/* 전체 설정 */
* {
    font-family: "Pretendard-Light", "Black Han Sans", '맑은 고딕';
    /* font-weight: 400; */
    /* font-style: normal; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #102c57;
}
#fix_order {
    width: 60px;
    height: 170px;
    right: 15px;
    top: 15%;
    position: fixed;
    writing-mode: vertical-rl;
    letter-spacing: 7px;
    padding: 10px;
    background-color: #102c57;
    border-radius: 5rem;
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 헤더 설정 */
.header {
    font-family: "Pretendard-Bold";
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: rgb(234,219,200, 0.5);
    z-index: 999;
}

#logo {
    margin-left: 15px ;
    padding: 10px 0 0 10PX;
}

#category {
    /* list-style: none; */
}

ul,
ol {
    list-style-type: none;
}

ul {
    margin: 0 20px 0 0;
    /* text-shadow: 0px 0px 5px black; */
}

li {
    margin: 5px;
    padding: 20px;
    float: left;
    /* background-color: aquamarine; */
}
#category_li a:hover {
    color: #102c57;
    /* background-color: rgb(16, 44, 87); */
    /* border-top-left-radius: 30%; */
    /* border-bottom-right-radius: 30%; */
}

/* 메인1 설정 */
.main_section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/img/main_1.jpg);
}

.main_font_1 {
    position: absolute;
    width: 50%;
    height: 20vh;
    top: 15%;
    left: 10%;
    /* background-color: aquamarine; */
}

.main_font_1 h1 {
    position: relative;
    right: 105px;
    line-height: 110%;
    letter-spacing: 5px;
}

.main_title {
    font-size: 80px;
    margin-inline-start: 100px;
    margin-bottom: 20px;
}

.main_subtitle {
    position: absolute;
    font-size: 40px;
    line-height: 48px;
}

.main_detail {
    position: relative;
    top: 53%;
    font-size: 13pt;
    line-height: 28px;
    letter-spacing: 0.34px;
}

.main_font_1>button {
    cursor: pointer;
    position: relative;
    top: 60%;
    width: 170px;
    height: 45px;
    border-radius: 5%;
    background-color: #689133;
    font-size: 15pt;
    border: none;
    text-shadow: 1px 1px 3px rgb(0, 0, 0,0.5);
}

section {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: relative;
}

#section_02 {
    background-color: #f8f0e5;
}

.main_font_2 {
    position: absolute;
    width: 50%;
    height: 20vh;
    top: 250px;
    left: 100px;
    /* background-color: aquamarine; */
}

#section_03 {
    background-image: url(/img/main_3.png);
}

.main_font_3 {
    color: black;
    position: absolute;
    top: 100px;
    left: 1000px;
}

#section_04 {
    background-color: #f8f0e5;
}

