@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 전체설정 */
*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style-type: none;
}
img{
    vertical-align: bottom;
    border: 0;
}
a{
    text-decoration: none;
}

/* 레이아웃 설정 */
#wrapper{
    position: relative;
    width: 600px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    border-left: solid 1px #929292;
    border-right: solid 1px #929292;
}

/* header(헤더) 설정 */
header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(248,240,229);
    z-index: 900;
}
.header_top{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{

}
.logo a{
    color: #000;
}
.my_page{
    margin-left: 20px;
}
.my_page i{
    color: #000;
    font-size: 18px;
}
.header_top ul{
    display: flex;
    margin-right: 20px;
}
.header_top ul li:nth-child(1){
    margin-right: 15px;
}
.header_top ul li i{
    color: #000;
    font-size: 18px;
}
.gnb{
    width: 100%;
    height: 40%;
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.gnb li a{
    font-family: 'Pretendard-Regular';
    font-weight: 100;
    color: #575757;
}

/* footer 설정 */
footer{
    width: 100%;
    height: 50px;
    background-color: rgb(248,240,229);
    position: sticky;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 900;
}
.footer_gnb{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer_gnb li{
    text-align: center;
    font-size: 15px;
}
.footer_gnb li i{
    color: #575757;
    font-size: 24px;
}


/* 미디어쿼리 구간 ##################################################### */
@media screen and (max-width: 600px) {
    #wrapper{
     width: 100%;
   }

}